<h1 class="mt-6 text-center text-3xl text-gray-900">Your lists</h1>

<%= turbo_frame_tag "lists" do %>
  <%= render "lists" %>
<% end %>

<div class="mt-10">
  <%= turbo_frame_tag "new-list" do %>
    <%= form_with(url: new_list_path, method: "GET", data: { turbo_frame: "new-list" }) do |form| %>
      <%= form.submit "Create new list", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
    <% end %>
  <% end %>
</div>