<!DOCTYPE html>
<html>
  <head>
    <title>ToDoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="antialiased bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400">
    <header>
      <nav class="flex flex-wrap items-center justify-between w-full py-4 md:py-0 px-4 text-lg text-gray-700 bg-white">
        <a href="/">ToDoApp</a>
        <div class="cursor-pointer md:hidden block" id="menu-button">Menu</div>
        <div class="hidden w-full md:flex md:items-center md:w-auto " id="menu">
          <ul class="text-base text-gray-700 pt-4 md:flex md:justify-between md:pt-0">
            <% if user_signed_in? %>
              <li>
                <!--%= button_to( "Profile", user_path, method: :get, class: "md:p-4 py-2 block hover:text-purple-400" ) %-->
                <a class="md:p-4 py-2 block hover:text-purple-400" href="/users/<%= current_user.id %>">Profile</a>
              </li>
              <li>
                <%= button_to( "Sign Out", destroy_user_session_path, method: :delete, class: "md:p-4 py-2 block hover:text-purple-400" ) %>
              </li>
            <% else %>
              <li>
                <%= button_to( "Sign In", new_user_session_path, method: :get, class: "md:p-4 py-2 block hover:text-purple-400" ) %>
                <!-- a class="md:p-4 py-2 block hover:text-purple-400 text-purple-500" href="<%= new_user_session_path %>">Sign In</a -->
              </li>
              <li>
                <%= button_to( "Sign Up", new_user_registration_path, method: :get, class: "md:p-4 py-2 block hover:text-purple-400" ) %>
                <!-- a class="md:p-4 py-2 block hover:text-purple-400 text-purple-500" href="<%= new_user_registration_path %>">Sign Up</a -->
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <div class="<%= "hidden" if notice.nil? || alert.nil? %> flex justify-center items-center bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <span class="block sm:inline">
        <%= notice %>
        <%= alert %>
      </span>
    </div>
    <main>
      <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
